.jumbotron {
  padding-top: 5rem;
  padding-bottom: 5%;
  background-color: #232931;
  color: white;
}

#about {
  background-color: #232931;
  color: white;
}

.lingkaran {
  display: inline-block;
  border-radius: 25%;
  width: 100px;
  margin: auto;
  height: 100px;
  color: white;
  background-color: #dc3545;
}

.lingkaran i {
  position: relative;
  top: 30px;
}

.crop-img {
  object-fit: cover;
}

#project {
  background-color: #232931;
}

#contact {
  background-color: #232931;
}
section {
  padding-top: 5rem;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(163, 67, 91);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 250, 250);
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #dc3545;
  text-decoration: none;
  color: white;
}
